header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(250, 235, 178);
    padding: 15px 30px;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 24px;
    margin: 0;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: 0.3s;
  }
  
  nav ul li a:hover {
    color: #f8d210;
  }
  
  nav ul li.active a {
    font-weight: bold;
    border-bottom: 2px solid #f8d210;
  }
  